body {
    width: 960px;
    background: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    color: #777;
}

header {
    margin: 10px 150px;
    height: 30px;
    width: 950px;
    padding: 40px 100px 40px 100px;
    background: #ebebeb;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 25px;
    color: #777;
    text-align: center;
}

nav {
    margin: 10px 150px 5px 150px;
    height: 30px;
    width: 950px;
    padding: 20px 100px 60px 100px;
    background: #ebebeb;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 25px;
    color: #777;
    text-align: center;
}

section {
    margin: 5px 10px 10px 150px;  
    height: 390px;
    width: 495px;
    padding: 5px 30px;
    background: #ebebeb;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 25px;
    color: #777;
    text-align: center;
    float: left;
}

article {
    margin: 10px 10px 10px 10px;   
    height: 250px;
    width: 280px;
    padding: 10px 100px;
    background: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 25px;
    color: #ebebeb;
    text-align: center;
    float: left;
}

.h123 {
    margin: 10px 10px 10px -25px;  
    height: 30px;
    width: 300px;
    padding: 10px 20px;
    background: #ebebeb;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 25px;
    color: #777;
    text-align: center;
    float: left;
}

.p {
    margin: 10px 10px 10px -25px;  
    height: 30px;
    width: 300px;
    padding: 10px 20px;
    background: #ebebeb;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 25px;
    color: #777;
    text-align: center;
    float: left;
}

aside {
    margin: 1px 150px 5px 720px;
    height: 385px;
    width: 380px;
    padding: 10px 100px;
    background: #ebebeb;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 25px;
    color: #777;
    text-align: center;
    float: none;
}

footer {
    margin: 10px 150px;
    height: 30px;
    width: 950px;
    padding: 20px 100px 60px 100px;
    background: #ebebeb;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 25px;
    color: #777;
    text-align: center;
}